
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F5F4F2;
    color: #3E3E3E;
}

.navbar{
     background-color: #FFFFFF;
    bottom: 30px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#headerLogo {
    left: 10px;
    position: relative;
}

.container{
       background-color: #FFFFFF;
}

#title{
    left: 40px;
    position: relative;
}
.buckets.guessing span.guessed {
	display: block;
}
.buckets.guessing span.correct {
	display: none;
}
.buckets.solution span.guessed {
	display: none;
}
.buckets.solution span.correct {
	display: block;
}

#outer-dropzone {
    height: 140px;
}

#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px #666;
    padding: 10px;
    transition: background-color 0.3s;
}

.drop-target {
    background-color: red;
}

.drag-drop {
    display: inline-block;
   transition: background-color 0.3s;
   z-index: 300;
}

.can-drop {
    
}

#coinModal .valuePanel,.valueCustomPanel {
	/* background-color: #ddd; */
	padding: 15px;
	text-align: center;
	font-size: 2em;
}
#coinModal .valuePanel:hover,.valueCustomPanel:hover {
	background-color: #ddd;
}

#coinModal .valueCustomPanel input {

}