
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
    padding-bottom: 20px;
/*    background-color: #F5F4F2; */
    color: #3E3E3E;
}

.navbar{
     background-color: #FFFFFF;
    bottom: 30px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#headerLogo {
    left: 10px;
    position: relative;
}

.container{
       background-color: #FFFFFF;
}

#title{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
    margin:30px 0 50px 0;
    position: relative;
    text-align:center;
}

h1 {
	font-weight:300;
	letter-spacing:10px;
	font-size:60px;
	padding:0;
	position:relative;
}

h2 {
	font-weight:300;
/*	letter-spacing:1px; */
	font-size:35px;
	color:#ccc;
}

p{
    font-size: 2em;
}

li{
     font-size: 1.25em;
}

#productImage {
	height: 300px;
	width: auto;
}

#buckets {
	padding-top: 20px;
}

#buckets.guessing span.guessed {
	text-align: center;
	font-size: 2em;
	display: block;
}
#buckets.guessing span.correct {
	text-align: center;
	font-size: 2em;
	display: none;
}
#buckets.solution span.guessed {
	text-align: center;
	font-size: 2em;
	display: none;
}
#buckets.solution span.correct {
	text-align: center;
	font-size: 2em;
	display: block;
}

#buckets .headline {
	display: block;
	margin-bottom: 10px;
	text-align: center;
}

#buckets img.bucket {
	margin-left: 15px;
}

#buckets > div {
	height:279px;
	background:#fff;
}

#productInfoPanel {
	height: 300px;
}

#productInfoPanel #coinStack {
	position: absolute;
	left: 0;
	bottom: 50px;
}

#productInfoPanel .productName,.productPrice {
	display: block;
	text-align: right;
}

#productInfoPanel .productName {
	font-size: 2em;
}

#productInfoPanel .productPrice {
	font-size: 3em;
}

#coinStack {
	cursor: move;
}

#coinModal .valuePanel,.valueCustomPanel {
	/* background-color: #ddd; */
	padding: 15px;
	text-align: center;
	font-size: 2em;
}
#coinModal .valuePanel:hover,.valueCustomPanel:hover {
	background-color: #ddd;
	cursor:pointer;
}

#coinModal .valueCustomPanel input { }

.total {
	padding: 20px 0;
	font-size: 2em;
}

.bucket img {
	margin-left:16px;
}

.diagramm {
	height:200px;
}

.diagramm-default {
	height: 170px;
	width:46px;
	float:left;
	margin-left:25px;
	color:white;
        border-radius:4px;
}

.diagramm-default div {
	width:46px; background:#ccc;
            border: 4px;
}

.diagramm-label-left {
	position:absolute;
	top:220px;
	left:40px;

}

.diagramm-label-right {
	position:absolute;
	top:220px;
	left:110px;
}

#diagramm-correct, #diagramm-guess {
	padding-left:5px;
}

.red {
	background:#FF8A00;
}

.blue {
	background:#88C100;
}

footer p {
	font-size:12px;
}
